// Place all the styles related to the Api/Kitchens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.kitchen-show {
  font-family: 'Zilla Slab', serif;
  // border: 5px solid black;
  position: relative;
}

.white{
  width: 100%;
  height: 150px;
  border: 1px solid blue;
}

.kitchen-content {
  display: flex;
}

.kitchen-content {
  border: 5px solid green;
  position: absolute;
  top: 50px;
  left: 5%;
  width: 90%
}

.kitchen-details {
  border: 1px solid blue;
  width: 100%;
  height: 200px;
}
.kitchen-header-content {
  border: 2px solid red;
  height: 150px;
}

.kitchen-pics {
  border: 2px solid red;
  width: 270px;
}

.kitchen-pics img {
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}
