// Place all the styles related to the Api/Kitchens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.kitchen-show {
  font-family: 'Zilla Slab', serif;
  // border: 5px solid black;
  position: relative;
}

.white{
  margin: auto;
  width: 98%;
  height: 200px;
  // border: 1px solid #601A13;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #601A13;
  // background-color: #5C121B;
  background: -webkit-linear-gradient(right, #FFA473 , #BE3021);
}

.kitchen-content {
  display: flex;
}

.kitchen-right {
  flex:1;
}

.kitchen-content {
  // border: 5px solid green;
  position: absolute;
  top: 50px;
  left: 5%;
  width: 90%
}

.kitchen-header-content {
  // border: 2px solid red;
  height: 145px;
  font-size: 25px;
  position: relative;
  width: 100%;
  padding-left: 15px;
  color:white;
}

.kitchen-header-content h1 {
  font-size: 40px;
  font-weight: 600;
  padding: 5px 10px;
}

.kitchen-header-content h2 {
  font-size: 20px;
  font-weight: 400;
  padding: 2px 10px;
}

.kitchen-header-content h3 {
  font-size: 15px;
  font-weight: 200;
  padding: 2px 10px;
}

.kitchen-header-content button {
  position: absolute;
  bottom: 20px;
  right:10px;
}

.kitchen-info {
  margin-top: 20px;
  border: 2px solid black;
  display: flex;
}

.right-first-box {
  border: 2px solid black;
  flex:1;
}

.kitchen-about {
  border: 2px solid grey;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
  flex: 1;
}

.kitchen-about h2 {
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

.kitchen-about p {
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}

.kitchen-details {
  // position: fixed;
  // top:275px;
  border: 2px solid grey;
  width: 20%;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
  // height: 200px;
}

.kitchen-details h2 {
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

.kitchen-details h3 {
  padding: 5px 5px 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.kitchen-details p {
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}

.kitchen-pics li {
  // border: 2px solid grey;
  border-radius: 10px;
  list-style: none;
  padding: 5px;
}

.pic-box {
  width: 450px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.kitchen-pics img {
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
  // padding: 5px;
  height: auto;
  width: 500px;
}
