.indiv-kitchen{
  // border: 2px solid grey;
  box-shadow: 2px 2px 2px grey;
  font-family: 'Zilla Slab', serif;
  border-radius: 5px;
  background-color: white;
  width: 85%;
  margin: 20px auto 40px auto;
  // margin-left:auto;
  // margin-right:auto;
  // margin-bottom: 40px;
  padding: 20px;
  display: flex;
}

.indiv-kitchen a {
  text-decoration: none;
  color: #651601;
  font-weight: 600;
}

.indiv-kitchen h1{
  font-size: 20px;
  padding: 10px;
}

.indiv-kitchen h2{
  padding-left:10px;
  padding-top: 5px;
  font-size: 14px
}

.kitchen-box {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 50%;
}

.pic-box {
  width:230px;
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.pic-box img {
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
  // padding: 5px;
  height: auto;
  width: 300px;
}

.pic-box img:hover{
  opacity: 0.5;
}

.kitchen-box-info {
  // border: 1px solid black;
  padding:10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kitchen-box-about {
  // border: 1px solid black;
  padding-right: 5px;
}

.kitchen-box-review {
  border-left: 2px solid darkgrey;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.review-infox{
  border: 1px solid black;
}

.review-scores {
  // border: 1px solid black;
  display: flex;
  justify-content:space-between;
}
