// Place all the styles related to the Api/Kitchens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.kitchen-show {
  font-family: 'Zilla Slab', serif;
  // border: 5px solid black;
  position: relative;
}

.white{
  margin: auto;
  width: 98%;
  height: 200px;
  // border: 1px solid #601A13;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #601A13;
  background: -webkit-linear-gradient(right, #D0735B , #582923);
}

.kitchen-content {
  // border: 5px solid black;
  margin: auto;
  display: flex;
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%
}

.kitchen-left {
  // border: 1px solid green;
}

.free {
  font-size: 20px;
}
.fixed {
  font-size: 20px;
  position: fixed;
  top:0;
}

.kitchen-left p,a{
  padding: 20px 0px 10px 10px;
  color: #651601;
  text-decoration: none;
}
.kitchen-left p:hover {
  font-weight: 600;
  cursor: pointer;
}




.kitchen-right {
  // border: 1px solid red;
  width: 100%
  // flex:1;
}



.kitchen-header-content {
  // border: 2px solid red;
  font-size: 25px;
  padding-left: 15px;
  color:white;
}

.kitchen-header-content h1 {
  font-size: 40px;
  font-weight: 600;
  padding: 5px 10px;
}

.kitchen-header-content h2 {
  font-size: 20px;
  font-weight: 400;
  padding: 2px 10px;
}

.kitchen-header-content h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 2px 10px;
}

// .kitchen-header-content button {
//   position: absolute;
//   top: 100px;
//   right:10px;
// }


.kitchen-info {
  // border: 2px solid black;
  margin-top: 40px;
  display: flex;
}

.right-first-box {
  // border: 2px solid blue;
  // max-width: 1060;
  // flex:2;
  width: 80%;
  padding: 0px 35px 0px 35px;
}

.kitchen-about {
  // border: 2px solid #651601;
  margin: 10px 10px 30px 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px #651601;
  border-radius: 5px;
  background-color: #FFF5EE;
}

.kitchen-about h2 {
  color: #651601;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}

.kitchen-about p {
  color: #861A27;
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}

.kitchen-details {
  // position: fixed;
  // top:275px;
  // min-width: 250px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
  height: 100%;
  background-color: #FFF5EE;
}

.kitchen-details h2 {
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  color: #2b0005;
}

.kitchen-details h4 {
  margin-left: 25%;
  font-size: 14px;
}

.kitchen-details h3 {
  padding: 5px 5px 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #2b0005;
}

.kitchen-details p {
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: 18px;
}

.kitchen-pics li {
  // border: 2px solid grey;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
}

.pic-box {
  width:230px;
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.kitchen-pics img {
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px;
  // padding: 5px;
  height: auto;
  width: 300px;
}
