// Place all the styles related to the Api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// styling for review box ans individual review
.review-box {
  font-family: 'Zilla Slab', serif;
  margin: 30px 10px 20px 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px #651601;
  border-radius: 5px;
  height: 100%;
  background-color: #FFF5EE;
  // overflow: scroll;
}

 i {
  // border: 1px solid black;
  color: #651601;
  font-size: 23px;
}

li {
  list-style: none;
  color: #982e2e;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
}

.review-section h1 {
  // border: 1px solid black;
  color: #651601;
  // padding: 10px;
  padding: 10px 10px 0px 10px;
  font-size: 30px;
  font-weight: 600;
}



.review-section h2 {
  font-size: 20px;
  color: #AE1628;
  padding: 10px 10px 2px 0px;
  font-weight: 800;
}

.review-section h3 {
  color: #B35A43;
  font-size: 18px;
  padding: 10px 10px 2px 0px;
}

.review-section p {
  font-size: 14px;
  padding-top: 8px;
}

.review-section h4 {
  color: #5A0000;
  font-size: 15px;
  padding-top: 5px;
}

.indiv-review {
  margin: 5px 10px 30px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 2px solid #651601;
  box-shadow: 2px 2px 2px #651601;
  border-radius: 5px;
  background-color: white;
}

div.icon {
  // border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.icon {
  // border: 1px solid black;
  // display: flex;
  // align-items: center;
  width:100px;
  height: 100px;

}

.review-first-box {
  // border: 1px solid black;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.review-second-box {
  // border: 1px solid black;
  flex: 1;
  // padding: 15px 30px 15px 30px;
}


// styling for the submit-review form (font size and colors are from above)
.review-form-box {
  margin:30px 10px 30px 10px;
  padding:20px;
  // border: 2px solid #651601;
  box-shadow: 2px 2px 2px #651601;
  border-radius: 5px;
  background-color: #FFF5EE;
}

.review-form{
  padding: 10px;
  justify-content: space-around;
  border: 1px solid black;
  display:flex;
  position: relative;
  border: 2px solid #651601;
  border-radius: 5px;
  margin: 10px;
}

.input-body {
  height:100px;
  width:100%;
}

.review-form-box .input {
  width:100%;
}

.review-form-right {
  // border: 2px solid black;
  text-align: right;
  padding-top: 40px;
  flex: 1.2;
  padding-right: 10px;
}

.review-form-left {
  // border: 2px solid black;
  padding: 10px;
  flex:1;
}


.review-form input[type=submit] {
  position: relative;
  height:auto;
  right: -10px;
  top: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(/assets/stars.png);
  vertical-align: bottom;
  outline: none;
  cursor: pointer;
}

input[type="radio"] {
  background-position: 0px 30px;
}

input[type="radio"]:checked ~ input[type="radio"] {
  background-position: 0px 0px;
}
