// Place all the styles related to the Api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// styling for review box ans individual review
.review-box {
  font-family: 'Zilla Slab', serif;
  border: 2px solid #651601;
  margin: 10px 10px 20px 10px;
  padding: 20px;
  box-shadow: 2px 3px 3px #651601;
  border-radius: 10px;
  height: 250px;
  overflow: scroll;
}

 i {
  // border: 1px solid black;
  color: #651601;
  font-size: 23px;
}

li {
  list-style: none;
}

.review-box h1 {
  // border: 1px solid black;
  color: #651601;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
}



.indiv-review h2 {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 800;
}

.indiv-review h3 {
  font-size: 18px;
  padding-bottom: 10px;
}

.indiv-review p {
  font-size: 14px;
}

.indiv-review h4 {
  font-size: 15px;
  padding-bottom: 10px;
}

.indiv-review {
  margin: 5px 10px 30px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #651601;
  box-shadow: 2px 3px 3px #651601;
  border-radius: 10px;
}

div.icon {
  // border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.icon {
  // border: 1px solid black;
  // display: flex;
  // align-items: center;
  width:100px;
  height: 100px;

}

.review-first-box {
  // border: 1px solid black;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.review-second-box {
  // border: 1px solid black;
  flex: 0.7;
  // padding: 15px 30px 15px 30px;
}


// styling for the submit-review form
