div.search-bar {
  // border: 1px solid black;
  position: relative;
  background-image: url("http://res.cloudinary.com/greenteamuimui/image/upload/c_scale,r_30,w_1182/v1500496835/imageedit_5_8288987673_i4iq3j.png");
  background-size: cover;
  min-height: 600px;
  font-family: 'Zilla Slab', serif;
  // height: 100%;
}

div.search-bar section {
  border-radius: 5px;
  position: relative;
  top: 450px;
  // left: 100px;
  margin: auto;
  background-color: #FFF3F4;
  width: 90%;
  border: 2px solid white;
  box-shadow: 3px 3px 3px grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.string-input{
  height: 100%;
  font-size: 16px;
  padding: 5px;
  margin: auto;
  width:150px;
}

div.search-bar h2 {
  margin-top: auto;
  margin-left: 20px;
  padding: 20px 2px 20px 10px;
  font-size:25px;
  font-weight: 700;
}

.search-form h3{
  font-size:18px;
  margin-left: 20px;
  padding: 20px 2px 20px 10px;
  margin-top: auto;
}


.search-form {
  width: 90%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid white;
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.seats-selector {
  width:40px;
  text-align: center;
}

.date-selector{
  color: darkred;
  width: 170px;
  padding: 0px;
}


.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 150px;
   margin: auto;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 100%;
  //  width: 100%;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}


/* -------------------- Colors: Background */
.black   { background-color: #FFF3F4; }

/* -------------------- Colors: Text */
.black select   { color: #651601; }
