// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.static {
  position: relative;
  // display: flex;
}

div.static a {
  text-decoration: none;
}

.app-header {
  font-size: 40px;
  font-family: 'Zilla Slab', serif;
  display: flex;
  width: 100%;
  // box-sizing: border-box;
  // border: 1px solid black;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 60px;
}

.app-left h1 {
  padding-left: 10px;
  color: #861A27;
  font-weight: 600;
  // border: 1px solid black;
  display: flex;
  // align-items: baseline;
}

img.s-logo {
  padding: 5px;
  // border: 1px solid black;
  height: 40px;
}

.app-left {
  display: flex;
}

div.search-bar {
  // border: 1px solid black;
  position: relative;
  background-image: url("http://res.cloudinary.com/greenteamuimui/image/upload/c_scale,r_30,w_1182/v1500496835/imageedit_5_8288987673_i4iq3j.png");
  background-size: cover;
  min-height: 600px;
  // height: 100%;
}

// img.main {
//   // position: absolute;
//   // left: 25px;
//   margin: 0 auto;
//   border: 1px solid black;
//   width: 95%;
// }


div.search-bar section {
  border-radius: 5px;
  position: relative;
  top: 450px;
  left: 100px;
  background-color: white;
  width: 80%;
  height: 250px;
  border: 5px solid 999;
  box-shadow: 2px 2px 2px #999;
}

div.search-bar h2 {
  padding: 20px;
  font-size:25px;
  font-family: 'Zilla Slab', serif;
}

div.search-bar h3 {
  font-size:20px;
  margin-left: 20px;
  font-family: 'Zilla Slab', serif;
}
