// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.static {
  position: relative;
  // display: flex;
}

div.static a {
  text-decoration: none;
}

.app-header {
  font-size: 30px;
  font-family: 'Zilla Slab', serif;
  display: flex;
  width: 100%;
  // box-sizing: border-box;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 55px;
  background-color: white;
}

.app-left h1 {
  padding-left: 10px;
  color: #861A27;
  font-weight: 600;
  // border: 1px solid black;
  display: flex;
  // align-items: baseline;
}

img.s-logo {
  padding: 5px;
  // border: 1px solid black;
  height: 40px;
  margin:auto;
  display: flex;
}

.app-left {
  align-items: center;
  display: flex;
}
// img.main {
//   // position: absolute;
//   // left: 25px;
//   margin: 0 auto;
//   border: 1px solid black;
//   width: 95%;
// }
